.dropdown-menu
  display block
  .button
    display block
  .items
    position fixed
    transition all 0.3s linear
    border-radius 5px
    opacity 0
    pointer-events none
    &.open
      opacity 1
      pointer-events auto
