footer
  position fixed
  bottom 0
  right 0
  height 1rem
  width 100%
  background-color $black
  color $white
  font-size 0.7rem
  
  +below($width-xxs)
    position relative

  .footer-content
    position relative
    width 100%
    margin 0 5px


  &.error-messages
    height auto
    p
      color $error
      padding 0.2em 0