.loading
  .text
    margin-left 0.5em
    font-style italic



.logo
  font-family $header-font
  display block
  text-align center
  font-size 80px
  +below($width-xs)
    font-size 60px
  span
    display inline-block
    color $gray-light
    &.img
      margin -20px -15px
      background transparent url("../img/logo.svg") center center no-repeat 
      background-size 100% 100%
      width 100px
      height 160px
      transition all 1s
      &:hover
        transform rotateY(180deg) scale(1.1) 
      +below($width-xs)
        width 80px
        height 128px



.date-picker
  & > button
    @extends $contentActionButton


.overlay
  position fixed
  width 100vw
  height 100vh
  top 0
  left 0
  opacity 0
  pointer-events none
  background-color rgba(0, 0, 0, 0.95)
  z-index 99999999
  transition all 0.2s linear
  
  &.shown
    opacity 1
    pointer-events auto
    
  .close-overlay
    color $gray-dark
    border-color $gray-dark
    position absolute
    top 15px
    right 12px
    padding 4px 8px 
    &:hover
      color $black   
    

.ask-user-dialog
  position relative
  top 40px
  font-size 2.5rem
  line-height 1.2em
  padding 0 2em
  color $white
  +below($width-xs)
    top 80px
    font-size 1.5rem
    padding 0 0.2em
  .buttons
    margin-top 1em
    button
      margin 0 1em


$metaHeight = 2.5rem

.entryEditor
  position relative
  height 100%
  width 100%
  
  .meta
    height $metaHeight
    text-align center
    font-size 2em
    font-weight 100
    color $gray-dark
    border-bottom 1px solid $gray-light

    +below($width-xs)
      position fixed
      top $menuBarMobileHeight
      left 0
      width 100%
      background-color $white
      z-index 1
    
    .separator
      padding 0 0.5em
    
    .date
      font-family $header-font
      height 100%
      display inline-block
      padding-top 0.1em
      &.time
        font-size 60%
        color $gray-dark
        vertical-align baseline
        &:before
          content '-'
          padding 0 0.3em 0 0.4em
          color #ccc
          font-size 80%
      
    .date-time-picker
      position relative
      top -0.15em
      left 0.3em
      
    .delete-button
      position absolute
      right 0.1em
      top -0.1em
      .icon-button
        @extends $contentActionButton
        
    .dropdown-menu
      position absolute
      right 0.1em
      top -0.1em
      .button
        .icon-button
          @extends $contentActionButton
          color $gray-dark
      .items
        font-size 1.1rem
        background-color $white
        padding 0.5em
        border 1px solid $gray
        box-shadow 0px 0px 20px 1px rgba(0,0,0,0.46)
        a.icon-link
          display block
          padding 0.5em
          text-align right
          color $gray-dark
          font-weight 500
          
    
  .editor
    height "calc(100% - %s)" % ($metaHeight)
    
    +below($width-xs)
      position relative
      top $metaHeight

    .body
      @extends $entryContentStyles
      padding 1em
      min-height 100%
      max-height 100%
      overflow-y scroll
      

.entry-list-filter
  background-color $gray
  padding 0.5em 0.4em 0.5em
  position relative
  input
    @extends $bigDarkInputAlwaysWide
    font-size 0.8rem
    width 100%
  .filter-summary
    display block
    text-align center
    font-style italic
    padding 0.5em 0 0
    color $gray-darkest
    font-size 0.8rem


ul.entryList
  display block
  list-style none
  margin 0
  padding 0
  
  li
    display block
    margin 0
    border-collapse collapse
    border-top 1px $gray-light
    border-bottom 1px solid $gray-light
    
    &.break-row
      text-align center
      text-transform uppercase
      color $black
      background-color $gray-blue-light
      font-size 80%
      padding 0.4em 0
      
    &.entry
      transition background-color 0.3s linear
      color $gray-dark
      height 80px
      padding 0.5rem  
      
      &.none
        cursor default
        pointer-events none
        font-weight bold
        font-style italic
        font-size 1.5rem
      
      &:hover, &.selected
        cursor pointer
        background-color $gray-blue
        color $white
        
      > .inner
        position relative
      
        .text
          position absolute
          top 0
          right 0
          overflow hidden
          line-height 1.2em
          width calc(100% - 4rem)
          max-height calc(80px - 1rem)
          font-weight 400
          color $gray-darker

        .date-time
          position absolute
          top 0
          left 0
          width 2.5rem
          text-align center
          .date
            display block
            &.day
              font-size 2.5rem
              font-weight bold
              height 2rem
              &.month
                font-size 1.2rem
                height 1.3rem
            &.time
              font-size 0.8rem
              margin-top 0.5em

        

.password-input
  position relative
  .toggle-button
    position absolute
    padding 0.2em 0.5em
    margin 5px 0 0 5px
    border-radius 5px

$popupBody
  position fixed
  display block
  z-index 20
  transition opacity 0.1s linear
  color $red-light
  border-radius 10px
  border 1px solid $red-light
  background-color $black
  padding 1em
  font-size 1.2rem
  font-style normal
  line-height 1.5em
  width 20rem
  box-shadow 0px 0px 10px 1px $red-light
  +below($width-xs)
    width 15rem
  p
    margin-bottom 1em
  small
    font-size 75%

.popup-wrapper
  position relative
  
  .icon-widget
    cursor pointer

  .popup-body
    @extend $popupBody


.new-password-input
  .field
    display block
    margin 0.5em 0
    &:nth-child(1)
      margin-bottom 0.3em
  input
    display inline-block
  .collapsible
    height 2rem
    +below($width-xs)
      height 3.5rem
    .strength-meter
      margin 0.5em 0 0
      display flex
      flex-direction row
      justify-content center
      align-items center
      +below($width-xs)
        display block
      > label
        margin-right 1em
        font-style italic
        color $gray
        font-size 1rem
        i
          margin-left 0.3em
        +below($width-xs)
          margin-right 0
      > .progress
        width 8rem
        +below($width-xs)
          display block
          margin 0.5em 0 0
      &.centered  
        > label
          text-align center
        > .progress
            margin-left auto
            margin-right auto
    .password-strength-hints
      font-size 100%
      line-height 1.5em
    
$progressStyles
  display inline-block
  position absolute

.progress
  @extend $progressStyles
  position relative
  border-radius 5px
  border 1px solid $gray-darker
  height 1.5rem
  font-size 0.8rem
  text-align left
  & > div
    @extend $progressStyles
    height 100%
  & > label
    @extend $progressStyles
    color $gray
    width 100%
    top 4px
    z-index 10
    text-align center

.collapsible
  transition all 0.3s linear
  overflow visible
  &.collapsed
    overflow hidden


.btn
  @extend $button
      

        

.notification
  position fixed
  top 10px
  right 10px
  padding 10px
  font-size 1rem
  z-index 99999999
  border-radius 10px
  transition 0.5s
  
  &.info
    background-color rgb(100, 100, 100, 0.7)
    color $white
  
  &.error
    background-color rgb(255, 0, 0, 0.7)
    color $white

  &.on
    opacity 1
    
  &.off
    opacity 0
  
  
.error-message
  display block
  margin 1rem auto
  background-color $error
  color $black
  border-radius 10px
  padding 0.5em
  font-size 1.2rem
  font-style normal
  line-height 1.5em
  max-width 20em


.action-progress
  position relative
  .msg
    display block
    margin 1rem 0
    color $red-light
    font-size 1.2rem
    font-style normal
    line-height 1.5em
    width 20rem
    transition all 0.2s linear
    max-height 0
    +below($width-xs)
      width 85%
    &.centered
      margin 1rem auto
    &.shown
      max-height 10000px
      padding 1em
      border 1px solid $red-light
      border-radius 10px
      box-shadow 0px 0px 10px 1px $red-light


.attention-icon
  color $error


.icon-link
  @extend $noLink
  color $gray
  i
    margin-right 0.5em
  &:hover
  &:active
    color $gray-light 






@import "./_stepSlider"
@import "./_footer"
@import "./_dateTimePicker"
@import "./ladda/_buttons"
@import "./pikaday/_index"
@import "./selectBox/_index"
@import "./_dropdown"
