.sign-up-form
  p
    font-size 2rem
    &.info1
      margin-bottom 0.7em
    &.info2
      font-size 1.3rem
      margin 0.5em 0 3rem
  form
    .input-fields
      font-size 1.5rem
      max-width 12em
      margin-left auto
      margin-right auto
      margin-bottom 10px
  & > button
    margin-top 20px