$defaultTabMenu
  color $gray
  .tab
    position relative
    display inline-block
    padding 1em 2em
    border-bottom 1px solid $gray
    cursor pointer
    .attention
      position absolute 
      top 5px
      right 0.5em
    &:hover
      color $white
    &.active
      cursor default
      color $white
      border-bottom none
      border-top 1px solid $gray 
      border-left 1px solid $gray 
      border-right 1px solid $gray 


      
$verticalTabMenu
  @extend $defaultTabMenu
  transform rotate(90deg)
  transform-origin left top 0
  .tab
    color $gray-dark
    .attention
      display none
