
        
.user-alert
  .mini-alert
    position fixed
    top 10px
    right 10px
    padding 10px
    font-size 1rem
    z-index 99999999
    border-radius 10px
    transition 0.5s
    
    &.info
      background-color rgb(100, 100, 100, 0.7)
      color $white
    
    &.error
      background-color rgb(255, 0, 0, 0.7)
      color $white

    &.on
      opacity 1
      
    &.off
      opacity 0
      pointer-events none
      
  .dialog-alert
    text-align center
    position relative
    top 40px
    font-size 2.5rem
    line-height 1.2em
    padding 0 2em
    color $white
    width 90%
    margin 0 auto
    +below($width-xs)
      top 80px
      font-size 1.5rem
      padding 0 0.2em
    .buttons
      margin-top 1em
      button
        margin 0 1em   
        

