@import "./ladda/_buttons"



.logo
  font-family $header-font
  display block
  text-align center
  font-size 80px
  span
    display inline-block
    color $gray-light
    &.img
      margin -20px -15px
      background transparent url("../img/logo.svg") center center no-repeat 
      background-size 100% 100%
      width 100px
      height 160px


.entryEditor
  height 100%
  width 100%
  display table
  
  .meta
    display table-row
    height 2.5rem
    text-align center
    font-size 2em
    font-weight 100
    color $gray-dark
    
    .date
      font-family $header-font
      height 100%
      display inline-block
      padding-top 0.1em
    
  .editor
    display table-row
    .cke.cke_chrome
      // ckeditor overrides
      .cke_top[role=presentation]
        height 2rem
        padding 0.4em 0.4em 0
        background-color $gray-light
    // .cke_chrome
      // border none !important



ul.entryList
  display block
  list-style none
  margin 0
  padding 0
  
  li
    display block
    margin 0
    border-collapse collapse
    border-top 1px $gray-light
    border-bottom 1px solid $gray-light
    
    &.month
      text-align center
      text-transform uppercase
      color $black
      background-color $gray-blue-light
      font-size 80%
      padding 0.4em 0
      
    &.entry
      padding 0.5em
      display flex
      flex-direction row
      justify-content flex-start
      align-items stretch
      flex-wrap nowrap
      transition background-color 0.3s linear
      color $gray-dark
      
      &.none
        cursor default
        pointer-events none
        font-weight bold
        font-style italic
        font-size 1.5rem
      
      &:hover, &.selected
        cursor pointer
        background-color $gray-blue
        color $white
      
      .text
        overflow hidden
        max-height 3em

      .date
        font-size 1.4rem  
        padding 0 0.7em 0 0.4em
        font-weight bold
      
        display flex
        flex-direction column
        justify-content center
        align-items center
        

.password-input
  position relative
  .icon-button
    position absolute
    padding 0.2em 0.5em
    margin 5px 0 0 5px
    border-radius 5px

$popupBody
  position absolute
  display block
  z-index 20
  transition opacity 0.1s linear
  color $red-light

.popup-wrapper
  position relative
  
  .icon-widget
    cursor pointer

  .popup-body
    @extend $popupBody
    display block
    border-radius 10px
    border 1px solid $red-light
    background-color $black
    padding 1em
    font-size 1.2rem
    font-style normal
    line-height 1.5em
    width 20rem
    box-shadow 0px 0px 10px 1px $red-light
    p
      margin-bottom 1em
    small
      font-size 75%
  .popup-arrow
    @extend $popupBody
    font-size 3rem
    line-height 1rem
  &.hidden
    .popup-body, .popup-arrow
      opacity 0
      pointer-events none


.new-password-input
  .field
    display block
    margin 0.5em 0
  input
    display inline-block
  .strength-meter
    margin 0.5em 0 0
    display flex
    flex-direction row
    justify-content center
    align-items center
    & > label
      margin-right 1em
      font-style italic
      color $gray
      font-size 1rem
      i
        margin-left 0.3em
    & > .progress
      width 8rem
    .password-strength-hints
      p
        line-height 1em
    
$progressStyles
  display inline-block
  position absolute

.progress
  @extend $progressStyles
  position relative
  border-radius 5px
  border 1px solid $gray-darker
  height 1.5rem
  font-size 0.8rem
  text-align left
  & > div
    @extend $progressStyles
    height 100%
  & > label
    @extend $progressStyles
    color $gray
    right 3px
    top 3px
    z-index 10

.collapsible
  transition all 0.3s linear
  overflow visible
  &.collapsed
    overflow hidden


button
  @extend $button
      

$menu
  display flex
  flex-direction column
  justify-content space-around
  align-items center

  .btn, button
    @extend $button
    border-radius 10px
    color $gray-dark
    border-color $gray-darker
    font-size 16px
      
    &.active, &:hover
      border-color $white
      background-color $black
      color $white


.main-menu
  @extend $menu
  height 200px
      
.sub-menu
  @extend $menu
  padding-bottom 10px
  button
    margin-top 20px
    padding 4px 8px    
        

.notification
  position fixed
  top 10px
  right 10px
  padding 10px
  font-size 1rem
  z-index 99999999
  border-radius 10px
  background-color rgb(100, 100, 100, 0.7)
  color $white
  transition 0.5s
  
  &.on
    opacity 1
    
  &.off
    opacity 0
  
  


