$mainViewTransitionTime = 0.4s

.entriesView
  position relative
  width 100%
  height 100%
  
  // span inserted by FluxComponent
  & > span
    display flex
    flex-direction row
    justify-content space-around
    align-items stretch
    overflow hidden
    height 100%
    width 100%
  
  .timeline
    width 30%
    height auto
    overflow auto
    border-right 1px solid $gray
    transition width $mainViewTransitionTime
    
  .toggle-timeline
    position absolute
    top 0.7em
    border none
    background-color $white
    color $gray
    transition left $mainViewTransitionTime
    padding 0
    font-size inherit
    font-family inherit

    span
      font-family 'FontAwesome'    
      font-style normal
      font-weight normal
      line-height 1
      -webkit-font-smoothing antialiased
      
      &:before
        content $fa-var-chevron-left
        
    &.closed
      span:before
        content $fa-var-chevron-right


  .entryEditor
    height 100%
    transition width $mainViewTransitionTime
    

  &.split
    .timeline
      width 30%
    .entryEditor
      width 70%
    .toggle-timeline
      left 32%

  &.noTimeline
    .timeline
      width 0
    .entryEditor
      width 100%
    .toggle-timeline
      left 2%

