font-face-register('lobstertwo', 'lobstertwo-regular-webfont', normal, normal)

font-face-register('Roboto', 'Roboto-Bold-webfont', 800, normal)
font-face-register('Roboto', 'Roboto-Regular-webfont', bold, normal)
font-face-register('Roboto', 'Roboto-Light-webfont', normal, normal)
font-face-register('Roboto', 'Roboto-LightItalic-webfont', normal, italic)
font-face-register('Roboto', 'Roboto-Thin-webfont', 200, normal)
font-face-register('Roboto', 'Roboto-ThinItalic-webfont', 200, italic)
