font-face-register('lobstertwo', 'lobstertwo-regular-webfont', 400, normal)

font-face-register('Roboto', 'Roboto-Bold-webfont', 700, normal)
font-face-register('Roboto', 'Roboto-Regular-webfont', 500, normal)
font-face-register('Roboto', 'Roboto-Light-webfont', 400, normal)
font-face-register('Roboto', 'Roboto-LightItalic-webfont', 400, italic)
font-face-register('Roboto', 'Roboto-Thin-webfont', 200, normal)
font-face-register('Roboto', 'Roboto-ThinItalic-webfont', 200, italic)
