font-face-register('lobstertwo', 'lobstertwo-regular-webfont', 400, normal)

font-face-register('Roboto', 'Roboto-Bold-webfont', 700, normal)
font-face-register('Roboto', 'Roboto-Regular-webfont', 400, normal)
font-face-register('Roboto', 'Roboto-Light-webfont', 300, normal)
font-face-register('Roboto', 'Roboto-LightItalic-webfont', 300, italic)
font-face-register('Roboto', 'Roboto-Thin-webfont', 100, normal)
font-face-register('Roboto', 'Roboto-ThinItalic-webfont', 100, italic)
