#footer-bar
  .footer-content
    position relative
    width 100%
    margin 0 5px
    
  .meta
    position absolute
    top 1px
    right 10px
    
    span.version
      span.new-version
        margin 0 0.5em 0 0
        a
          @extend $normalLink
          text-transform lowercase

    // span.version
    //   a
    //     text-transform uppercase
    //     color $gray-dark
    //     border none
    //     &:hover
    //       color $white