menu-desktop()
  display flex
  flex-direction column
  justify-content space-around
  align-items center

  .btn
    border-radius 10px
    color $gray-dark
    border-color $gray-darker
    font-size 16px
      
    &.active, &:hover
      border-color $white
      background-color $black
      color $white
      


menu-mobile()
  display block
  position absolute
  button
    padding 4px 9px
    height $menuBarMobileHeight - 20px
    margin 10px 0 10px 10px



#menubar
  background-color $black
  position fixed
  top 0
  left 0
  width 8%
  height 100%

  display flex
  flex-direction column
  justify-content space-between
  
  +below($width-xs)
    width 100%
    height $menuBarMobileHeight
    flex-direction row
    z-index 2

  .background-tasks
    margin-top 1.5em
    height 40px
    color $gray-darker
    text-align center
    font-size 1rem
    +below($width-xs)
      margin 0 0 0 10px
      height $menuBarMobileHeight
      vertical-align middle
    
  .main-menu
    +above($width-xs)
      menu-desktop()
      height 180px
    +below($width-xs)
      menu-mobile()
      right 50px
      top 0px
        
  .sub-menu
    +above($width-xs)
      menu-desktop()
      padding-bottom 30px
      button
        margin-top 20px
        padding 4px 8px    
    +below($width-xs)
      menu-mobile()
      right 10px
      top 0px
      .dropdown-menu
        .items
          font-size 1.1rem
          background-color $black
          padding 0.5em
          box-shadow 0px 0px 20px 1px rgba(0,0,0,0.86)
          > a
            display block
            padding 0.5em

  .logo-container
    > div
      display block
      +below($width-xs)
        display inline-block
    .logo
      +below($width-xs)
        line-height 40px
        margin 5px 0 0 5px
      span
        width 40px
        height 64px
        +below($width-xs)
          margin 0
          width 25px
          height 40px


