$menu
  display flex
  flex-direction column
  justify-content space-around
  align-items center

  .btn
    border-radius 10px
    color $gray-dark
    border-color $gray-darker
    font-size 16px
      
    &.active, &:hover
      border-color $white
      background-color $black
      color $white

#sidebar
  .background-tasks
    margin-top 1.5em
    height 40px
    color $gray-dark
    text-align center
    font-size 1.5rem
    
  .main-menu
    @extend $menu
    height 180px
        
  .sub-menu
    @extend $menu
    padding-bottom 30px
    button
      margin-top 20px
      padding 4px 8px    