font-face-register($name, $filename, $weight="normal", $style="normal")
  @font-face
    font-family $name
    src url($fa-font-path + '/' + $filename + '.eot')
    src url($fa-font-path + '/' + $filename + '.eot?#iefix') format('embedded-opentype'),
         url($fa-font-path + '/' + $filename + '.woff') format('woff'),
         url($fa-font-path + '/' + $filename + '.ttf') format('truetype'),
         url($fa-font-path + '/' + $filename  + '.svg#RobotoBold') format('svg');
    font-weight $weight
    font-style $style

$button
  position relative
  background-color $black
  border 1px solid $gray
  color $gray
  font-size 1rem
  font-family $body-font
  font-weight bold
  cursor pointer
  padding 16px 18px
  border-radius 10px
  -webkit-appearance none
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  transition 0.2s linear background-color
  
  &:hover
    background-color $gray-blue
    color $black
    
  &[disabled]  
    cursor inherit
    border 1px solid $gray-darker
    color $gray-darker
    &:hover
      background-color $black
      color $gray-darker
      
  .attention
    position absolute
    right -9px
    top -8px
      

$contentActionButton
  background-color $white
  color $gray-darker
  padding 2px 5px
  border-radius 5px
  transition 0.1s linear background-color
  &:hover
    background-color $gray-dark
    color $white


$insideInputButton
  background-color transparent
  color $gray
  padding 0
  border-radius 50px
  border none
  transition 0.1s linear all
  &:hover
    color $black
    


$bigDarkInput
  font-size 1.5rem
  padding 0.3em 0.5em
  font-family $body-font
  border-radius 10px
  border 1px solid transparent
  background-color $gray-light

  &:hover, &:focus
    background-color $white
    
  &:focus
    outline none
    border 1px solid lighten($red, 50%)
  
      
$normalLink
  color $link-color
  text-decoration none
  border-bottom 1px solid $link-color
  &:hover
    color $white
    background-color $link-color
      

$blendLink
  color inherit
  border-bottom 1px solid inherit
  

