font-face-register($name, $filename, $weight="normal", $style="normal")
  @font-face
    font-family $name
    src url($fa-font-path + '/' + $filename + '.eot')
    src url($fa-font-path + '/' + $filename + '.eot?#iefix') format('embedded-opentype'),
         url($fa-font-path + '/' + $filename + '.woff') format('woff'),
         url($fa-font-path + '/' + $filename + '.ttf') format('truetype'),
         url($fa-font-path + '/' + $filename  + '.svg#RobotoBold') format('svg');
    font-weight $weight
    font-style $style

$button
  position relative
  background-color $black
  border 1px solid $gray-dark
  color $gray-dark
  padding 1rem 1.1rem
  font-size 1rem
  font-family $body-font
  font-weight bold
  cursor pointer
  border-radius 10px
  -webkit-appearance none
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  transition 0.2s linear all
  
  &:hover
    background-color $gray-blue
    color $black
    
  &[disabled]  
    cursor inherit
    border 1px solid $gray-darker
    color $gray-darker
    &:hover
      background-color $black
      color $gray-darker
      



