.newEntry
  position relative
  height 100%
  width 100%
  
  .meta
    display block
    font-size 2em
    font-weight 100
    text-transform uppercase
    color $gray
    text-align center
    padding 0.3rem 0 0
    
