.settingsView
  background-color $gray-darkest
  width 100%
  height 100%
  padding 40px
  text-align center
  
  h2
    color $white
    font-size 2rem
    padding-bottom 40px
    
  form
    display inline-block
    
  .exportData
    h2 
      margin-top 50px

