.settings-layout
  background-color $gray-darkest
  width 100%
  height 100%
  padding 40px
  text-align left
  
  .overlay
    text-align center
  
  h2
    color $white
    font-size 2rem
    padding-bottom 40px
    
  form
    display inline-block
    
  > .content
    margin-top 50px
    color $white
    
    h2
      color $gray
      
    &.help
      textarea
        display block
        font-size 1em
        margin 0 0 1em
        width 80%

    &.account
      .email-address
        p
          font-weight 100
          font-size 1.5rem
      .change-password
        margin-top 3.5rem
          
    &.backupRestore
      .backup-file
        margin-bottom 2.5em
        p
          margin 0 0 1em
          font-size 1.2rem
          label
            font-weight 700
            font-size 90%
            color $gray-dark
            margin-right 1em
          &.last
            margin-bottom 1.5em
          

  .settings-top-menu
    color $gray
    .menu-tab
      display inline-block
      padding 1em 2em
      border-bottom 1px solid $gray
      cursor pointer
      &:hover
        color $white
      &.active
        cursor default
        color $white
        border-bottom none
        border-top 1px solid $gray 
        border-left 1px solid $gray 
        border-right 1px solid $gray 
        
