.settings-layout
  background-color $gray-darkest
  width 100%
  min-height 100%
  padding 40px
  text-align left
  
  .overlay
    text-align center
    
  hr
    margin 3rem 0
    border-color $gray-darker
  
  h2
    color $white
    font-size 2rem
    padding-bottom 40px
    
  form
    display inline-block
    
  > .content
    margin-top 50px
    color $white
    
    h2
      color $gray
      
    &.help
      textarea
        display block
        font-size 1em
        margin 0 0 1em
        width 80%

    &.account
      .membership
        h2
          padding-bottom 30px
        > div
          font-size 1.2rem
          display block
          color $gray
          margin-bottom 1em
          > span
            display inline-block
            margin 0 0.5em 0 0
            
      .renew-subscription-dialog
        display inline-block
        padding 40px 0
        width 70%
        text-align center
        font-size 2rem
        .pricing-item
          margin-top 30px
          .title
            font-size 150%
            font-weight 700
            color $white
          .features
            font-size 50%
            color $gray-dark
            li
              margin 15px 0
          .price
            color $white
            margin-top 30px
        .payment-form
          margin-top 40px
            

      .change-password
        margin-top 3.5rem
          
    &.backupRestore
      .backup-file
        margin-bottom 2.5em
        p
          margin 0 0 1em
          font-size 1.2rem
          label
            font-weight 700
            font-size 90%
            color $gray-dark
            margin-right 1em
          &.last
            margin-bottom 1.5em
          
      .restore-backup-dialog
        padding 40px
        &.progress-message
          color $gray

  .settings-top-menu
    color $gray
    .menu-tab
      position relative
      display inline-block
      padding 1em 2em
      border-bottom 1px solid $gray
      cursor pointer
      .attention
        display inline-block
        margin-right 0.5em
      &:hover
        color $white
      &.active
        cursor default
        color $white
        border-bottom none
        border-top 1px solid $gray 
        border-left 1px solid $gray 
        border-right 1px solid $gray 
        
