#splash
  width 100%
  height 100vh
  padding-top 4rem
  background-color $black
  color $white
  overflow-x hidden
  
  .logo
    margin 0 auto 2rem
    
  .loading
    display block
    text-align center
    margin-top 50px
    font-size 2rem
