// font-awesome
$fa-font-path = "../fonts"


// app
$body-font = Arial, Verdana, sans-serif

$white = #fff
$black = #000
$gray = #ccc
$gray-light = #efefef
$gray-dark = #666
$gray-darker = #333

// theme: Black swan - https://color.adobe.com/Black-Swan-color-theme-1340421/edit/?copy=true&base=4&rule=Custom&selected=4&name=Copy%20of%20Black%20Swan&mode=rgb&rgbvalues=0.003138,0.025678,0.07,0.074362,0.088881,0.12,0.111,0.1227,0.15,0.141176,0.14902,0.176471,0.59,0.070996,0.154563&swatchOrder=0,1,2,3,4
$theme1_col1 = $black
$theme1_col2 = #263248
$theme1_col3 = #7E8AA2
$theme1_col4 = $white
$theme1_col5 = #FF9800

