// app

// color: http://paletton.com/palette.php?uid=33J0u0kwi%2B%2Bbu%2B%2BhX%2B%2B%2B%2Brd%2B%2BkX
$color1 = #7EA9FF
$color2 = #adc8ff
$color3 = #ff6f00
$color4 = #ffd100

$navbar-height = 50px


// font-awesome
$fa-font-path = "./fonts"

// from purecss
$screen-mobile-max = 35.5em
$screen-tablet-max = 48em
