.welcomeView
  width 100%
  height 100vh
  padding-top 4rem
  background-color $black
  color $white
  overflow-x hidden
  
  .logo
    margin 0 auto 2rem
    
  .step
    &.start
      font-size 1.5rem

      .open-existing
        display block
        margin 0
        padding 0
              
        > div
          margin 0 0 2rem
          label
            font-style italic
            margin-right 0.5rem
          span
            font-weight bold
            
        &:after
          display block
          margin 1.5rem 0 2rem
          content "- - - - - - - - - - - - - - -"
          color $gray-dark
      
      .choose-diary
        > button
          padding 0.2em 0.4em 0.2em 0.5em
          margin -15px 0 0 10px
          
      .create-new
        &:before
          margin 1.5rem 0 2rem
          display block
          

    &.new-diary
      p
        font-size 2rem
        &.info1
          margin-bottom 0.7em
        &.info2
          font-size 1.3rem
          margin 0.5em 0 3rem
      form
        .input-fields
          font-size 1.5rem
          max-width 12em
          margin-left auto
          margin-right auto
          margin-bottom 20px
      & > button
        margin-top 20px
        
    &.load-diary
      font-size 2rem
      
      p
        margin-bottom 2rem
        &.progress-message
          font-size 80%
          color $gray
        
      .error
        color $red
        margin 2rem auto
        max-width 80%
        font-size 80%
        span
          margin-left 10px
        
        

footer.welcome-footer-bar
  .meta
    position absolute
    top 1px
    right 10px
    
    span.version
      span.new-version
        margin 0 0.5em 0 0
        a
          @extend $normalLink
          text-transform lowercase
          
    span.home
      &:before
        display inline-block
        content "|"
        color $gray-darker
        padding 0 0.5em
      a
        color $white

    // span.version
    //   a
    //     text-transform uppercase
    //     color $gray-dark
    //     border none
    //     &:hover
    //       color $white        









      
