.welcomeView
  width 100%
  height 100vh
  padding 4rem 0
  background-color $black
  color $white
  overflow-x hidden
  
  .logo
    margin 0 auto 2rem
    
  .content
    text-align center
    
    > div
      display inline-block
      
    .splash
      .loading
        display block
        text-align center
        margin-top 50px
        font-size 2rem
      
    .start
      font-size 0.8rem

      strong
        display block
        font-size 140%
        font-weight 700
        margin-top 5px
        
      .switch
        font-size inherit
        margin 10px auto 30px
        width 80%
        line-height 1.2rem
        a
          margin-top 5px
          display block
          color $red-light

      .open-existing
        display block
        margin 0 0 1.7rem
        padding 0
              
        > div
          margin 0 0 2rem
          label
            font-style italic
            margin-right 0.5rem
          span
            font-weight bold

      .choose-diary
        > button
          padding 0.2em 0.4em 0.2em 0.5em
          margin -15px 0 0 10px
          
      .create-new
        border-top 1px dashed $gray-darker
        padding-top 1.5rem
        
    .new-cloud-diary
      .sign-up-form
        margin-bottom 3rem

    .new-local-diary
      margin-top 2rem
      font-size 2rem

    .load-diary
      margin-top 2rem
      font-size 2rem
      p
        margin-bottom 2rem
        &.progress-message
          font-size 80%
          color $gray
        
      .error
        color $red
        margin 2rem auto
        max-width 80%
        font-size 80%
        span
          margin-left 10px
  
        
        

footer.welcome-footer-bar
  .meta
    position absolute
    top 1px
    right 10px
    
    span.version
      span.new-version
        margin 0 0.5em 0 0
        a
          @extend $normalLink
          text-transform lowercase
          
    span.home
      &:before
        display inline-block
        content "|"
        color $gray-darker
        padding 0 0.5em
      a
        color $white

    // span.version
    //   a
    //     text-transform uppercase
    //     color $gray-dark
    //     border none
    //     &:hover
    //       color $white        









      
