.welcomeView
  width 100%
  height 100%
  background-color $black
  color $white
  
  display flex
  flex-direction column
  align-items center
  justify-content center

  .logo
    margin 0 auto 2rem

  .steps-enter-active 
    display block
    
  .steps-leave-active 
    display none    