@import "./ladda/_buttons"

// .btn, button 
//   border 1px solid $gray-darker
//   background-color transparent
//   color $gray-darker
//   cursor pointer
  
//   display flex
//   flex-direction column
//   justify-content center
//   align-items center
  
//   text-decoration none
    
  

.logo
  font-family lobstertwo, $body-font
  display block
  text-align center
  font-size 80px
  span
    display inline-block
    color $gray-light
    &.img
      margin -20px -15px
      background transparent url("/img/logo.svg") center center no-repeat 
      background-size 100% 100%
      width 100px
      height 160px


.entryEditor
  height 100%
  width 100%
  display table
  
  .meta
    display table-row
    height 2rem
    text-align center
    font-size 2em
    font-weight 100
    text-transform uppercase
    color $gray
    
  .editor
    display table-row
    .body
      // ckeditor overrides
      .cke_top[role=presentation]
        height 2rem
        padding 0.1em 0 0
    // .cke_chrome
      // border none !important



ul.entryList
  display block
  list-style none
  margin 0
  padding 0
  
  li
    display block
    margin 0
    border-collapse collapse
    border-top 1px $gray-light
    border-bottom 1px solid $gray-light
    
    &.month
      text-align center
      text-transform uppercase
      color $gray
      background-color $gray-light
      font-size 80%
      padding 0.2em 0
      
    &.entry
      padding 0.5em
      display flex
      flex-direction row
      justify-content space-around
      align-items stretch
      flex-wrap nowrap
      transition background-color 0.5s
      
      &:hover, &.selected
        cursor pointer
        background-color lighten($theme1_col5, 80%)
      
      .text
        overflow hidden
        max-height 3em

      .date
        font-size 1.4rem  
        padding 0 0.7em 0 0.4em
        color $gray
      
        display flex
        flex-direction column
        justify-content center
        align-items center
        

.password-input
  .icon-button
    padding 0.2em 0.5em
    margin-left 5px
    border-radius 0px


.alert
  display block
  border-radius 10px
  border 1px solid $red-light
  color $red-light
  padding 1em
  font-size 1.2rem
  line-height 1.5em
  

.new-password
  .field
    display block
    margin 1em 0
  input
    display inline-block
  .strength
    &.level-1, &.level-2, &.level-3
      &:after
        display inline-block
        content 'weak'
    &.level-4, &.level-5
      &:after
        display inline-block
        content 'medium'
    &.level-6, &.level-7
      &:after
        display inline-block
        content 'strong'


button
  @extend $button
      
