/* nouislider */

.noUi-connect
  background $color1

/* selectivity */

.selectivity-multiple-input-container
  border none
  padding 0
  background transparent

.selectivity-multiple-input, input[type='text'].selectivity-multiple-input
  border 1px solid #ccc
  border-radius 4px
  padding .5em .6em
  height auto
  
.selectivity-multiple-selected-item
  white-space normal
  background-color $color1
  

.selectivity-load-more.highlight, .selectivity-result-item.highlight
  background-color $color2
  color #666

/* pickadate */

.picker__header
  select
    display inline-block
    margin-right 0.5em