@import "_variables"
@import "_mixins"
@import "nib"
@import "rupture"
@import "../../node_modules/font-awesome-stylus/stylus/font-awesome.styl"
@import "_fonts"



global-reset()

*
  box-sizing border-box


html
  font-family $body-font
  font-size 16px
  background-color #fff
  color #000

h1, h2, h3
  font-weight 500

img
  border none

form
  .row
    display block
    &.field
      margin 0 0 1rem
    &.action
      margin 1.5rem 0 0
    &.close
      display none
    &.open
      display block
  input
    &[type=text], &[type=password]
      @extends $bigDarkInput

a
  @extend $normalLink

abbr
  border-bottom 1px dashed $gray-dark
  cursor help


// main grid

#layout
  position relative
  top 0
  left 0


#content-wrapper
  position relative
  top 0
  left 0
  width 100%
  height 100vh
      

#content
  position absolute
  left 8%
  width 92%
  top 0
  height 100%
  +below($width-xs)
    width 100%
    left 0
    top 50px

#welcome-content
  height 100%
  width 100%

  




// lower-level

@import 'components/_index'
@import '_menubar'
@import '_welcomeView'
@import '_entriesView'
@import '_newEntry'
@import '_settings'
@import 'alloyeditor/index'





