@import "nib"
@import "rupture"
@import "_variables"
@import "_mixins"
@import "../../bower_components/font-awesome-stylus/stylus/font-awesome.styl"
@import "_widgets"


html
  font-family 'Lato', Arial, Verdana, sans-serif
  font-weight 300
  font-style normal
  font-size 16px
  background-color #fff
  color #000
  

.hidden-xs
  +below($screen-mobile-max)
    display none
.visible-xs
  +above($screen-mobile-max)
    display none


form
  legend
    font-weight 700
    margin-top 1.5em
    &:first-child
      margin-top 0
  .control-group
    margin 1em 0 0
    & label.main
      font-style italic
      margin 0.5em 0
  .between-text
    text-align center
    padding-top 0.8rem
  .smaller
    font-size 80%


.loading
  fa 'refresh'
  &:before
    animation spin 2s infinite linear
    margin-right 0.5em

i.fa + span
  margin-left 0.5em


nav.topbar
  position absolute
  top 0px
  left 0px
  width 100vw
  overflow-y scroll
  padding 0.4em 0 0.2em
  font-weight 100
  box-shadow 0px 0px 5px 3px #999
  color #fff
  background-color #333
  z-index 99999 // beat the map 
  
  section.about
    display none
    font-weight 400
    font-size 120%
    width 70%
    margin 1em auto 2em
    padding 0.5em 1em
    border 1px dashed #999
    border-radius 10px
    
    +below($screen-mobile-max)
      width 90%
      font-size 100%
      padding 0
      border none
    
    h1
      margin-top 0

    &:after
      display block
      clear both
  
  .nav-left
    float left
    margin-top 0.2em
    margin-left 0.7em
  .nav-right
    float right
    margin-right 1em
  
  .brand
    font-size 130%
    display inline-block  
    
  .loading
    display inline-block
    margin-left 1.5em
    color #fff
    font-weight 700
    font-size 150%
    
  a
    color $color3
    
    &.icon-button
      height ($navbar-height - 10px)
      line-height ($navbar-height - 10px)
      padding 0.5em 0.5em
      border 1px solid #fff
      border-radius 5px
      background-color transparent
      color #fff
      transition all 0.5s
      &:hover
        background-color #fff
        color #333
      

  


aside.tools
  position fixed
  top $navbar-height + 10px
  z-index 1
  pointer-events none
  
  .toolbox, .expander-button
    position relative
    pointer-events auto
    top 10px
    background-color #fff
    border-radius 0 8px 8px 0
    padding 1em
    box-shadow -1px 0px 7px 3px #999
    background-color #fff
    &.in-view
      left 0px
  
  .expander-button
    left -100px
    color #666
    font-size 140%
    padding 0.5em
    transition all 0.2s
    &:hover
      padding-left 0.8em
  
  .toolbox
    font-weight 100
    min-height 500px
    width 250px
    color #333
    top 0px
    left -500px
    transition left 0.3s
    
    .collapser-button
      color #666
      position absolute
      box-sizing border-box
      right 0
      top -1.5em
      padding 0.4em 1em
      background-color #fff
      border-radius 10px 10px 0 0
    
    .count
      margin-top 1.5em
      font-weight bold
      color #666
      text-align center
      font-size: 140%

  


main.content
  position relative
  top $navbar-height
  width 100%


.view-template
  display none


#map
  .leaflet-div-icon
    background transparent
    border none    
    .map-cluster-marker
      display block
      background transparent url("img/crosshair.svg") -50% -50% no-repeat
      background-size 100% 100%
      text-align center
      span
        font-weight bold
        font-size 120%
      
      marker-cluster-cat 'small', 40px, 40px
      marker-cluster-cat 'medium', 50px, 50px
      marker-cluster-cat 'large', 65px, 55px
      marker-cluster-cat 'x-large', 65px, 65px
      marker-cluster-cat 'xx-large', 70px, 70px
      
.map-popup-details
  p.outcome
    font-size 120%
    font-weight bold
    text-transform uppercase
    &.unknown
      span
        color #666666
    &.wounded
      span
        color $color4
    &.killed
      span
        color red

        
          
    
    
