.ladda-button
  position relative
  background-color $black
  border 1px solid $gray-dark
  color $gray-dark
  padding 1rem 1.1rem
  font-size 1rem
  font-family $body-font
  font-weight bold
  cursor pointer
  border-radius 10px
  -webkit-appearance none
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
  transition 0.2s linear all

  &:hover
    background-color $gray-dark
    color $black

  .ladda-spinner
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: 0;
    opacity: 0;
    pointer-events: none
    transition 0.2s linear all
  
  .ladda-label
    position: relative;
    z-index: 3

  .ladda-progress
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.1s linear all !important;
    -moz-transition: 0.1s linear all !important;
    -ms-transition: 0.1s linear all !important;
    -o-transition: 0.1s linear all !important;
    transition: 0.1s linear all !important

    &[data-loading]
        .ladda-progress
          opacity: 1;
          visibility: visible
    
  &[data-color=dark]
    background-color $black
    border 1px solid $gray-darker
    color $gray-darker
    &:hover
      background-color $gray-dark
      color $black



.ladda-button[data-style=expand-right] .ladda-spinner {
    right: -6px
}
.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,
.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner {
    right: -12px
}
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 56px
}
.ladda-button[data-style=expand-right][data-loading] .ladda-spinner {
    opacity: 1
}
.ladda-button[data-style=expand-right][data-loading][data-size="s"],
.ladda-button[data-style=expand-right][data-loading][data-size="xs"] {
    padding-right: 40px
}





// .ladda-button[data-color=blue] {
//     background: #53b5e6
// }
// .ladda-button[data-color=blue]:hover {
//     background-color: #69bfe9
// }
// .ladda-button[data-color=red] {
//     background: #ea8557
// }
// .ladda-button[data-color=red]:hover {
//     background-color: #ed956e
// }
// .ladda-button[data-color=purple] {
//     background: #9973C2
// }
// .ladda-button[data-color=purple]:hover {
//     background-color: #a685ca
// }
// .ladda-button[data-color=mint] {
//     background: #16a085
// }
// .ladda-button[data-color=mint]:hover {
//     background-color: #19b698
// }
// .ladda-button[disabled],
// .ladda-button[data-loading] {
//     border-color: rgba(0, 0, 0, 0.07)
// }
// .ladda-button[disabled],
// .ladda-button[disabled]:hover,
// .ladda-button[data-loading],
// .ladda-button[data-loading]:hover {
//     cursor: default;
//     background-color: #999
// }
// .ladda-button[data-size=xs] {
//     padding: 4px 8px
// }
// .ladda-button[data-size=xs] .ladda-label {
//     font-size: 0.7em
// }
// .ladda-button[data-size=s] {
//     padding: 6px 10px
// }
// .ladda-button[data-size=s] .ladda-label {
//     font-size: 0.9em
// }
// .ladda-button[data-size=l] .ladda-label {
//     font-size: 1.2em
// }
// .ladda-button[data-size=xl] .ladda-label {
//     font-size: 1.5em
// }