doctype
html
  
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title OIS incidents map

    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
    link(href="style.css", rel="stylesheet", type="text/css", )
    
  body
    nav.topbar
      .brand Officer-involved shootings (USA)
      .loading Loading...

    aside.tools
      form.pure-form.pure-form-stacked
        legend Victim

        .control-group
          .pure-u-1-4
            label(for="filter-victim-age") Age:
          .pure-u-3-4
            div.slider(id="filter-victim-age")
          .pure-u-6-24
            input.pure-input-1(id="filter-victim-age-lower", type="number", value="1")
          .pure-u-4-24.between-text
            span to
          .pure-u-6-24
            input.pure-input-1(id="filter-victim-age-upper", type="number", value="100")

    main.content
      #map(style="width:100%;height:500px")
      
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtdpUppnqscMEI1XwTXvTexr-TzYUkyRI", type="text/javascript")
    script(src="app.js", type="text/javascript")
