doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title Heartnotes
    link(href="./css/app.css", rel="stylesheet", type="text/css")
  body
    main
    // we include worker script here just so that electron packer includes it in release
    script(src="./js/worker.js", type="text/javascript")
      
    script(src="./js/vendor.js", type="text/javascript")
    script(src="./ckeditor/ckeditor.js", type="text/javascript")
    script(src="./js/app.js", type="text/javascript")
