doctype
html
  
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title OIS incidents map

    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css", rel="stylesheet", type="text/css")
    link(href="style.css", rel="stylesheet", type="text/css", )
    
  body
    nav.topbar
      .brand Officer-involved shootings (USA)
      .loading Loading...
      .count <span class='number'>0</span> incidents <span class='sub'>(<span class='mappable'>0</span> shown)</span>

    aside.tools
      form.pure-form.pure-form-stacked
        legend Victim

        .control-group
          .pure-g
            .pure-u-7-24
              label.main(for="filter-victim-age") Age:
            .pure-u-15-24
              div.slider(id="filter-victim-age")
          .pure-g
            .pure-u-7-24 &nbsp;
            .pure-u-6-24
              input.pure-input-1(id="filter-victim-age-lower", type="number", value="1")
            .pure-u-4-24.between-text
              span to
            .pure-u-6-24
              input.pure-input-1(id="filter-victim-age-upper", type="number", value="100")
          .pure-g
            .pure-u-7-24 &nbsp;
            .pure-u-17-24.smaller
              label.pure-checkbox(for="filter-victim-age-unknown")
                input(id="filter-victim-age-unknown", type="checkbox", name="filter-victim-age-unknown" value="yes", checked) 
                span  Include age unknown

        .control-group
          .pure-g
            .pure-u-7-24
              label.main(for="filter-victim-gender") Gender:
            .pure-u-6-24
              label.pure-checkbox(for="filter-victim-gender-male")
                input(id="filter-victim-gender-male", type="checkbox", name="filter-victim-gender" value="male", checked) 
                span  Male
            .pure-u-8-24
              label.pure-checkbox(for="filter-victim-gender-female")
                input(id="filter-victim-gender-female", type="checkbox", name="filter-victim-gender" value="female", checked) 
                span  Female


        .control-group
          .pure-g
            .pure-u-7-24
              label.main(for="filter-victim-race") Race:
            .pure-u-17-24
              div#filter-victim-race
                span.loading

        .control-group
          .pure-g
            .pure-u-7-24
              label.main(for="filter-victim-armed") Armed:
            .pure-u-6-24
              label.pure-checkbox(for="filter-victim-armed-yes")
                input(id="filter-victim-armed-yes", type="checkbox", name="filter-victim-armed" value="armed", checked) 
                span  Yes
            .pure-u-5-24
              label.pure-checkbox(for="filter-victim-armed-no")
                input(id="filter-victim-armed-no", type="checkbox", name="filter-victim-armed" value="unarmed", checked) 
                span  No
            .pure-u-5-24
              label.pure-checkbox(for="filter-victim-armed-unknown")
                input(id="filter-victim-armed-unknown", type="checkbox", name="filter-victim-armed" value="unknown", checked) 
                span  ?

        .control-group
          .pure-g
            .pure-u-7-24
              label.main(for="filter-victim-outcome") Was:
            .pure-u-7-24
              label.pure-checkbox(for="filter-victim-outcome-killed")
                input(id="filter-victim-armed-killed", type="checkbox", name="filter-victim-outcome" value="killed", checked) 
                span  Killed
            .pure-u-5-24
              label.pure-checkbox(for="filter-victim-outcome-hit")
                input(id="filter-victim-armed-hit", type="checkbox", name="filter-victim-outcome" value="hit", checked) 
                span  Hit
            .pure-u-5-24
              label.pure-checkbox(for="filter-victim-outcome-unknown")
                input(id="filter-victim-armed-unknown", type="checkbox", name="filter-victim-outcome" value="unknown", checked) 
                span  ?

        legend Searched date
        
        .control-group
          .pure-g
            .pure-u-11-24
              input.pure-input-1(id="filter-searched-date-lower", type="text", value="")
            .pure-u-2-24.between-text
              span -
            .pure-u-11-24
              input.pure-input-1(id="filter-searched-date-upper", type="text", value="")



    main.content
      #map(style="width:100%;height:500px")
      
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtdpUppnqscMEI1XwTXvTexr-TzYUkyRI", type="text/javascript")
    script(src="app.js", type="text/javascript")
