doctype
html
  
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Officer-involved shootings map (USA)

    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
    link(href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css", rel="stylesheet", type="text/css")
    link(href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css", rel="stylesheet", type="text/css")
    link(href="style.css", rel="stylesheet", type="text/css", )
    
  body

    nav.topbar
      section.about
        :markdown
          # About this project

          This map displays police officer-involved shootings in the USA.

          US police discharge their firearms every 
          day - yet there is no official website keeping tracking of 
          how many shots are fired or how many people are injured or killed as a 
          result. This map is a small step in the right direction.

          The dataset is fetched from [Dan Hammer's API](https://github.com/danhammer/ois-incidents), 
          with most of the data coming from the crowd-sourced set by the 
          [Deadspin project](http://regressing.deadspin.com/were-compiling-every-police-involved-shooting-in-americ-1624180387). 
          Since we lack co-ordinates for each incident we have approximated locations based on city, county and state data. 
          Incident dates may also not be accurate.

          Any improvements and bugfixes are more than welcome! Source is on [Github](https://github.com/hiddentao/ois-incidents-map).

          Built by [@hiddentao](https://twitter.com/hiddentao).

      .nav-left
        .brand
          span.text.hidden-xs Officer-involved shootings (USA)
          span.text.visible-xs OiS (USA)
        .loading
          span.hidden-xs Loading...
      .nav-right
        a.about.icon-button(href="#", title="About this project")
          i.fa.fa-question

    aside.tools
      a.expander-button.toolbox-toggle-button.toolbox-toggle-view.in-view(href='#')
        i.fa.fa-angle-double-right

      .toolbox.toolbox-toggle-view
        a.collapser-button.toolbox-toggle-button(href='#')
          i.fa.fa-angle-double-left
            
        form.pure-form.pure-form-stacked
          legend Victim

          .control-group
            .pure-g
              .pure-u-7-24
                label.main(for="filter-victim-age") Age:
              .pure-u-15-24
                div.slider(id="filter-victim-age")
            .pure-g
              .pure-u-7-24 &nbsp;
              .pure-u-6-24
                input.pure-input-1(id="filter-victim-age-lower", type="number", value="1")
              .pure-u-4-24.between-text
                span to
              .pure-u-6-24
                input.pure-input-1(id="filter-victim-age-upper", type="number", value="100")
            .pure-g
              .pure-u-7-24 &nbsp;
              .pure-u-17-24.smaller
                label.pure-checkbox(for="filter-victim-age-unknown")
                  input(id="filter-victim-age-unknown", type="checkbox", name="filter-victim-age-unknown" value="yes", checked) 
                  span  Include age unknown

          .control-group
            .pure-g
              .pure-u-7-24
                label.main(for="filter-victim-gender") Gender:
              .pure-u-6-24
                label.pure-checkbox(for="filter-victim-gender-male")
                  input(id="filter-victim-gender-male", type="checkbox", name="filter-victim-gender" value="male", checked) 
                  span  Male
              .pure-u-8-24
                label.pure-checkbox(for="filter-victim-gender-female")
                  input(id="filter-victim-gender-female", type="checkbox", name="filter-victim-gender" value="female", checked) 
                  span  Female


          .control-group
            .pure-g
              .pure-u-7-24
                label.main(for="filter-victim-race") Race:
              .pure-u-17-24
                div#filter-victim-race
                  span.loading

          .control-group
            .pure-g
              .pure-u-7-24
                label.main(for="filter-victim-armed") Armed:
              .pure-u-6-24
                label.pure-checkbox(for="filter-victim-armed-yes")
                  input(id="filter-victim-armed-yes", type="checkbox", name="filter-victim-armed" value="armed", checked) 
                  span  Yes
              .pure-u-5-24
                label.pure-checkbox(for="filter-victim-armed-no")
                  input(id="filter-victim-armed-no", type="checkbox", name="filter-victim-armed" value="unarmed", checked) 
                  span  No
              .pure-u-5-24
                label.pure-checkbox(for="filter-victim-armed-unknown")
                  input(id="filter-victim-armed-unknown", type="checkbox", name="filter-victim-armed" value="unknown", checked) 
                  span  ?

          .control-group
            .pure-g
              .pure-u-7-24
                label.main(for="filter-victim-outcome") Was:
              .pure-u-7-24
                label.pure-checkbox(for="filter-victim-outcome-killed")
                  input(id="filter-victim-armed-killed", type="checkbox", name="filter-victim-outcome" value="killed", checked) 
                  span  Killed
              .pure-u-5-24
                label.pure-checkbox(for="filter-victim-outcome-wounded")
                  input(id="filter-victim-armed-wounded", type="checkbox", name="filter-victim-outcome" value="wounded", checked) 
                  span  Hit
              .pure-u-5-24
                label.pure-checkbox(for="filter-victim-outcome-unknown")
                  input(id="filter-victim-armed-unknown", type="checkbox", name="filter-victim-outcome" value="unknown", checked) 
                  span  ?

          legend Date
          
          .control-group
            .pure-g
              .pure-u-11-24
                input.pure-input-1(id="filter-searched-date-lower", type="text", value="")
              .pure-u-2-24.between-text
                span -
              .pure-u-11-24
                input.pure-input-1(id="filter-searched-date-upper", type="text", value="")

          .count <span class='number'>0</span> incidents <span class='sub'></span>


    main.content
      #map(style="width:100%;height:500px")

    #mapPopup.view-template
      .map-popup-details
        p(class="outcome {{ outcome }}") Outcome: <span>{{ outcome }}</span>
        p
          strong When: 
          span {{ searched_date }}
        p
          strong Location: 
          span {{ location }}
        p
          strong Victim: 
          span {{ victim }}
        p
          strong Incident: 
          span {{ shots }}
        p {{ notes }}
        p {{ url ? '<a href="' + url + '" target="_blank">(read more)</a>': '' }}
      
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js", type="text/javascript")
    script(src="app.js", type="text/javascript")
    script(type="text/javascript").
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("7efabfea1aff95cb32829537474beb41");
